[submodule "pack/base/start/ack.vim"]
	path = pack/base/start/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "pack/base/start/nerdcommenter"]
	path = pack/base/start/nerdcommenter
	url = git@github.com:preservim/nerdcommenter.git
[submodule "pack/base/start/nerdtree"]
	path = pack/base/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "pack/base/start/ultisnips"]
	path = pack/base/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "pack/base/start/vim-fugitive"]
	path = pack/base/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/base/start/vim-repeat"]
	path = pack/base/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "pack/base/start/vim-snippets"]
	path = pack/base/start/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "pack/base/start/vim-surround"]
	path = pack/base/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/base/start/vim-textobj-user"]
	path = pack/base/start/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "pack/base/start/ale"]
	path = pack/base/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "pack/base/start/asyncomplete-lsp.vim"]
	path = pack/base/start/asyncomplete-lsp.vim
	url = git@github.com:prabirshrestha/asyncomplete-lsp.vim.git
[submodule "pack/base/start/asyncomplete.vim"]
	path = pack/base/start/asyncomplete.vim
	url = git@github.com:prabirshrestha/asyncomplete.vim.git
[submodule "pack/base/start/vim-lsp"]
	path = pack/base/start/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
[submodule "pack/base/start/vim-lsp-settings"]
	path = pack/base/start/vim-lsp-settings
	url = git@github.com:mattn/vim-lsp-settings.git
[submodule "pack/base/start/vim-lsp-snippets"]
	path = pack/base/start/vim-lsp-snippets
	url = git@github.com:thomasfaingnaert/vim-lsp-snippets.git
[submodule "pack/base/start/vim-lsp-ultisnips"]
	path = pack/base/start/vim-lsp-ultisnips
	url = git@github.com:thomasfaingnaert/vim-lsp-ultisnips.git
[submodule "pack/syntax/start/html5.vim"]
	path = pack/syntax/start/html5.vim
	url = git@github.com:sheerun/html5.vim.git
[submodule "pack/syntax/start/typescript-vim"]
	path = pack/syntax/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/syntax/start/vim-closetag"]
	path = pack/syntax/start/vim-closetag
	url = git@github.com:alvan/vim-closetag.git
[submodule "pack/syntax/start/vim-css3-syntax"]
	path = pack/syntax/start/vim-css3-syntax
	url = git@github.com:hail2u/vim-css3-syntax.git
[submodule "pack/syntax/start/vim-css-color"]
	path = pack/syntax/start/vim-css-color
	url = git@github.com:ap/vim-css-color.git
[submodule "pack/syntax/start/vim-fugitive"]
	path = pack/syntax/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/syntax/start/vim-go"]
	path = pack/syntax/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/syntax/start/vim-javascript"]
	path = pack/syntax/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "pack/syntax/start/vim-jsx-pretty"]
	path = pack/syntax/start/vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty.git
[submodule "pack/syntax/start/vim-markdown"]
	path = pack/syntax/start/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "pack/syntax/start/vim-prettier"]
	path = pack/syntax/start/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
[submodule "pack/syntax/start/vim-textobj-rubyblock"]
	path = pack/syntax/start/vim-textobj-rubyblock
	url = git@github.com:nelstrom/vim-textobj-rubyblock.git
[submodule "pack/syntax/start/vim-rails"]
	path = pack/syntax/start/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "pack/syntax/start/vim-ruby"]
	path = pack/syntax/start/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "pack/syntax/start/vim-terraform"]
	path = pack/syntax/start/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule "pack/syntax/start/vim-terragrunt"]
	path = pack/syntax/start/vim-terragrunt
	url = git@github.com:yorinasub17/vim-terragrunt.git
[submodule "pack/base/start/tabline.vim"]
	path = pack/base/start/tabline.vim
	url = git@github.com:paydro/tabline.vim.git
[submodule "pack/base/start/vim-lsp-ale"]
	path = pack/base/start/vim-lsp-ale
	url = git@github.com:rhysd/vim-lsp-ale.git
[submodule "pack/base/start/goyo.vim.git"]
	path = pack/base/start/goyo.vim.git
	url = git@github.com:junegunn/goyo.vim.git
[submodule "pack/base/start/python-mode.git"]
	path = pack/base/start/python-mode.git
	url = git@github.com:python-mode/python-mode.git
[submodule "pack/base/start/vim-gh-line.git"]
	path = pack/base/start/vim-gh-line.git
	url = git@github.com:ruanyl/vim-gh-line.git
